<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
">


<!--    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>-->

    <!--注解组件扫描：扫描指定的基本包及其子包下的类，识别使用@Component注解-->
<!--    <context:component-scan base-package="com.spring"></context:component-scan>-->

    <!--自动代理-->
<!--    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>-->

    <!--事务的自动代理(注解驱动)--><!--
    <tx:annotation-driven></tx:annotation-driven>-->


    <!--配置aop-->
   <!-- <aop:config>
        &lt;!&ndash;配置切点表达式，目的是为了指定那些方法被增强&ndash;&gt;
        <aop:pointcut id="myPointcut" expression="execution(void com.spring.service.impl.UserServiceImpl.show1())"/>
        &lt;!&ndash;配置织入，目的是执行那些切点和那些通知进行结合&ndash;&gt;
        <aop:aspect ref="myAdvice">
            &lt;!&ndash;前置通知&ndash;&gt;
            <aop:before method="beforeAdvice" pointcut-ref="myPointcut"></aop:before>

            &lt;!&ndash;后置通知&ndash;&gt;
            <aop:after-returning method="afterReturningAdvice" pointcut-ref="myPointcut"></aop:after-returning>

            &lt;!&ndash;环绕通知&ndash;&gt;
            <aop:around method="around" pointcut-ref="myPointcut"></aop:around>

            &lt;!&ndash;最终通知&ndash;&gt;
            <aop:after method="afterAdvice" pointcut-ref="myPointcut"></aop:after>


        </aop:aspect>
    </aop:config>-->
</beans>